<div class="container mt-5 mb-5">
  <div class="row align-items-center myOrder">
    <div class="col-md-8 one">
      <%= render 'form' %>
      <%= image_tag('paynow.svg', class: "btn-hide") %>
    </div>
    <div class="col-md-4 two">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% if @order_items.size>0 %>
            <% @order_items.each do |item| %>
              <tr class="border-bottom">
                <td><%= item.product.name.capitalize %></td>
                <td>x <%= item.quantity.to_i %></td>
                <td>$<%= item.total_price %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="row mt-4 align-items-center">
        <h4 class="pl-4">Total $<%= current_order.subtotal %></h4>
        <%= image_tag('paynow.svg', class: "aside-hide") %>
      </div>
    </div>
  </div>
</div>
