<!DOCTYPE html>
<html>
  <head>
    <title>Mystore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/packs/js/application-552652488b1924ff58f2.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer class="footer bg-light pb-5 pt-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; MyStore 2020. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script>
      $(document).ready(function()
      {
      "use strict";
      
      var menuActive = false;
      var header = $('.header');
      setHeader();
      initCustomDropdown();
      initPageMenu();
      
      function setHeader()
      {
      
      if(window.innerWidth > 991 && menuActive)
      {
      closeMenu();
      }
      }
      
      function initCustomDropdown()
      {
      if($('.custom_dropdown_placeholder').length && $('.custom_list').length)
      {
      var placeholder = $('.custom_dropdown_placeholder');
      var list = $('.custom_list');
      }
      
      placeholder.on('click', function (ev)
      {
      if(list.hasClass('active'))
      {
      list.removeClass('active');
      }
      else
      {
      list.addClass('active');
      }
      
      $(document).one('click', function closeForm(e)
      {
      if($(e.target).hasClass('clc'))
      {
      $(document).one('click', closeForm);
      }
      else
      {
      list.removeClass('active');
      }
      });
      
      });
      
      $('.custom_list a').on('click', function (ev)
      {
      ev.preventDefault();
      var index = $(this).parent().index();
      
      placeholder.text( $(this).text() ).css('opacity', '1');
      
      if(list.hasClass('active'))
      {
      list.removeClass('active');
      }
      else
      {
      list.addClass('active');
      }
      });
      
      
      $('select').on('change', function (e)
      {
      placeholder.text(this.value);
      
      $(this).animate({width: placeholder.width() + 'px' });
      });
      }
      
      /*
      
      4. Init Page Menu
      
      */
      
      function initPageMenu()
      {
      if($('.page_menu').length && $('.page_menu_content').length)
      {
      var menu = $('.page_menu');
      var menuContent = $('.page_menu_content');
      var menuTrigger = $('.menu_trigger');
      
      //Open / close page menu
      menuTrigger.on('click', function()
      {
      if(!menuActive)
      {
      openMenu();
      }
      else
      {
      closeMenu();
      }
      });
      
      //Handle page menu
      if($('.page_menu_item').length)
      {
      var items = $('.page_menu_item');
      items.each(function()
      {
      var item = $(this);
      if(item.hasClass("has-children"))
      {
      item.on('click', function(evt)
      {
      evt.preventDefault();
      evt.stopPropagation();
      var subItem = item.find('> ul');
      if(subItem.hasClass('active'))
      {
      subItem.toggleClass('active');
      TweenMax.to(subItem, 0.3, {height:0});
      }
      else
      {
      subItem.toggleClass('active');
      TweenMax.set(subItem, {height:"auto"});
      TweenMax.from(subItem, 0.3, {height:0});
      }
      });
      }
      });
      }
      }
      }
      
      function openMenu()
      {
      var menu = $('.page_menu');
      var menuContent = $('.page_menu_content');
      TweenMax.set(menuContent, {height:"auto"});
      TweenMax.from(menuContent, 0.3, {height:0});
      menuActive = true;
      }
      
      function closeMenu()
      {
      var menu = $('.page_menu');
      var menuContent = $('.page_menu_content');
      TweenMax.to(menuContent, 0.3, {height:0});
      menuActive = false;
      }
      
      
      });
    </script>
  </body>
</html>
