<!DOCTYPE html>
<html>
  <head>
    <title>Mystore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice] %>
      <%= notice %>
    <% end %> <% if flash[:alert] %>
      <%= alert %>
    <% end %>
    <header class="section-header">
      <section class="header-main border-bottom pb-3 pt-3">
        <div class="container">
          <div class="row myOrder">
            <div class="col-lg-2 col-6 order-1">
              <h1><%= link_to "MyStore", root_path %></h1>
            </div>
            <div class="col-lg-6 col-sm-12 order-2">
              <%= form_tag products_path, :method => "get" do %>
                <div class="input-group w-100">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for products" %>
                  <div class="input-group-append">
                    <%= button_tag( :class => "btn btn-outline-secondary") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-lg-4 col-6 order-3">
              <div class="widgets-wrap float-md-right">
                <div class="widget-header  mr-3">
                  <a class="btn btn-outline-secondary btn-hide" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-home"></i>
                  </a>
                  <%= render 'layouts/cart' %>
                  <a class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% if user_signed_in? %>
                      <% if current_user.admin_role? %>
                        <%= link_to "Admin", '/admin', class: "dropdown-item" %>
                      <% end %>
                      <%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item" %>
                      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    <% else %>
                      <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
                      <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
      <div class="container">
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <%= link_to 'Products', products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-toggler" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if @categories %>
                  <% @categories.each do |category| %>
                    <%= link_to category.name, products_path(:categ => category.id), class: "dropdown-item" %>
                  <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer bg-light pb-5 pt-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; MyStore 2020. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
